<div style=" margin-top: 50px;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <h2 style="margin-left: 230px;">Mettre à jour le produit</h2>
                </div>

                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <div nz-row>
                        <div nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
                            <div class="profile-badge">
                                <img class="profile" [src]="avatarUrl" alt="profile" />

                                <input type="file" nz-button nzType="primary" id="upload_profile_image"
                                    accept="image/x-png,image/gif,image/jpeg" (change)="uploadFile($event)">
                                <label for="upload_profile_image">
                                    <img id="add_img_icon" class="upload-icon" src="../../../../assets/add_icon.png" />
                                </label>
                                <button nz-button nzShape="circle">
                                </button>
                            </div>

                        </div>
                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                                    <input nz-input placeholder="Nom" formControlName="name" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                                    <input nz-input type="number" placeholder="Quantité"
                                        formControlName="availableQuantity" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                                    <input nz-input type="number" placeholder="Prix" formControlName="price" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required!">
                                    <textarea rows="1" nz-input placeholder="Description"
                                        formControlName="description"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Mise à jour</button>
                </form>
            </div>
        </div>
    </nz-spin>
</div>