<form nz-form [formGroup]="validateForm" style="margin-top: 20px; text-align:center;" (submit)="submitForm()">
    <input nz-input placeholder="Rechercher" nzSize="large" style="width: 20%; margin: 0 0 14px 0;" formControlName="title" (input)="submitForm()"/>
</form>

<div style="background-color: #F8F8F8; min-height: 91vh;">
    <div style="padding-top: 10px;"></div>
    <div style="margin-top:10px;" class="child" *ngFor="let product of products">
        <div nz-row>
            <div nz-col nzSpan="8">
                <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;"
                    [src]="product.processedImg" alt="profile" />
            </div>
            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">
                    {{product.name}}</h2>
                <p>{{product.description}}</p>

                <hr>
                <h5>Prix : <b>${{product.price}}</b> - Quantité : <b>{{product.availableQuantity}}</b>
                </h5>
                <hr>
                <div style="float: right;">
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                        (click)="addToCart(product.id)" nzDanger
                        style="padding: 5px 20px; height: auto; border-radius: 4px;">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
</div>
